<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Development" connectionString="Data Source=localhost\desenv;Initial Catalog=testes_dev;Persist Security Info=True;User ID=desenv;Password=desenv1234"/>
    <add name="Test" connectionString="Data Source=localhost\desenv;Initial Catalog=testes_test;Persist Security Info=True;User ID=desenv;Password=desenv1234"/>
    <add name="Production" connectionString="Data Source=localhost\desenv;Initial Catalog=testes;Persist Security Info=True;User ID=desenv;Password=desenv1234"/>
  </connectionStrings>

    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
